.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--blue);
}

.title {
    padding: 100px 20px 0;
    font-size: 60px;
    font-weight: 800;
    color: var(--orange);
}

.content {
    position: relative;
    margin-bottom: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.line {
    height: 200px;
    width: 100%;
    background-color: var(--lightBlue);
}

.proyects {
    position: absolute;
    left: 40px;
    right: 40px;
}

.proyectsCard {
    height: 400px;
    padding-right: 20px;
}

.proyectsCardBorder {
    height: calc(100% - 4px);
    padding: 0 20px;
}

.proyectsCardBorder:hover .proyectsCardContent {
    transform: scaleY(-1);
}

.proyectsCardBorder:hover .proyectsCardContentOverlay {
    background-color: var(--orange);
}

.proyectsCardBorder:hover .proyectsCardContentName {
    transform: scaleY(-1);
    color: var(--blue);
}

.proyectsCardBorder:hover .proyectsCardContentShow {
    display: flex;
}

.proyectsCardContent {
    height: 100%;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--orange);
    transition: 0.5s;
}

.proyectsCardContentOverlay {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.proyectsCardContentName {
    font-size: 40px;
    font-weight: 800;
    color: var(--cream);
    transition: 0.3s;
}

.proyectsCardContentShow {
    padding: 10px;
    font-family: var(--karla);
    font-weight: 800;
    color: var(--blue);
    border: 2px solid var(--blue);
    transition: 0.3s;
    transform: scaleY(-1);
    display: none;
}

.proyectsCardContentShow:hover {
    cursor: pointer;
    color: var(--orange);
    background-color: var(--blue);
}
