.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
}

.content {
    padding: 100px 50px 50px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
}

.image {
    height: 100%;
    display: flex;
}

.imageImages {
    position: relative;
    width: 100%;
    height: 500px;
    outline: 2px solid var(--brown);
    border-radius: 10px;
}

.imageImagesPhoto {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image hr {
    display: none;
}

.imageSocial {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imageSocialDownload {
    padding: 10px;
    white-space: nowrap;
    font-family: var(--karla);
    font-weight: 800;
    color: var(--brown);
    background-color: white;
    outline: 2px dashed var(--brown);
    border-radius: 0 10px 10px 0;
}

.imageSocialDownload:hover {
    cursor: pointer;
    color: var(--cream);
    background-color: var(--brown);
    transition: 0.3s ease-in-out;
}

.imageSocialTag {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--brown);
    background-color: white;
    outline: 2px dashed var(--brown);
    border-radius: 0 10px 10px 0;
}

.imageSocialTag:hover {
    color: var(--cream);
    background-color: var(--brown);
    transition: 0.3s ease-in-out;
}

.imageSocialTagIcon {
    font-size: 25px;
}

.imageSocialTagText {
    font-family: var(--karla);
    font-weight: 800;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dataTitle {
    font-size: 60px;
    font-weight: 800;
    color: var(--brown);
}

.dataText {
    color: var(--blue);
}

@media (max-width: 1300px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
    .image {
        flex-direction: column;
        align-items: flex-start;
    }
    .image hr {
        transform: translateX(-2px) translateY(-2px);
        display: flex;
        height: 20px;
        width: 0px;
        border: 1px dashed var(--brown);
    }
}

@media (max-width: 767px) {
    .content {
        padding: 50px 20px 20px;
        display: flex;
        flex-direction: column-reverse;
    }
}
