.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
}

.content {
    padding: 100px 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.image {
    height: max-content;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.imageContainer {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBlue);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.imageContainerCircle {
    height: 90%;
    width: 90%;
    background-color: var(--cream);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--cream);
}

.imagePhoto {
    position: absolute;
    height: 100%;
}

.imagePhoto img {
    height: 100%;
}

.imageButtons {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--brown);
    border-top: 2px solid var(--cream);
    border-radius: 0 0 10px 10px;
}

.imageButtonsLink {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--lightBlue);
    background-color: var(--cream);
    border: 2px solid var(--cream);
    border-radius: 50%;
    transition: 0.3s;
}

.imageButtonsLink:hover {
    cursor: pointer;
    color: var(--cream);
    background-color: var(--lightBlue);
}

.imageButtonsDownload {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--cream);
    border: 2px solid var(--cream);
    border-radius: 50%;
    transition: 0.3s;
}

.imageButtonsDownload:hover {
    cursor: pointer;
    color: var(--brown);
    background-color: var(--cream);
}

.imageButtonsLink svg,
.imageButtonsDownload svg {
    font-size: 30px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.dataTitle {
    font-size: 60px;
    font-weight: 800;
    color: var(--brown);
}

.dataText {
    max-width: 400px;
    font-family: var(--secondary);
    font-weight: 800;
    text-align: justify;
    font-size: 20px;
    color: var(--blue);
}

@media (max-width: 1300px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 991px) {
    .content {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .image {
        width: 100%;
        max-width: 400px;
    }
    .dataText {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 50px 20px 20px;
    }
}
