.container {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--orange);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.headingTitle {
    font-size: 60px;
    font-weight: 800;
    color: var(--blue);
}

.headingText {
    max-width: 1000px;
    text-align: center;
    color: var(--cream);
}

.form {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.formInputs {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--blue);
}

.formInputsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formInputsSection span {
    font-size: 20px;
    color: var(--orange);
}

.formInputsSection input,
.formInputsSection textarea {
    padding: 10px;
    color: var(--blue);
    border: none;
    background-color: var(--cream);
    border-radius: 10px;
}

.formInputsSection input::placeholder,
.formInputsSection textarea::placeholder {
    color: var(--blue);
}

.formInputsSection input:focus,
.formInputsSection textarea:focus {
    outline: 2px solid var(--orange);
}

.formInputsSection textarea {
    height: 150px;
    resize: none;
}

.formInputsSubmit {
    width: 100%;
    padding: 10px;
    color: var(--orange);
    border: none;
    border: 2px solid var(--orange);
    background-color: var(--blue);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.formInputsSubmit:hover {
    cursor: pointer;
    color: var(--blue);
    background-color: var(--orange);
}

.formInputsSubmit:disabled {
    opacity: 0.5;
}

.formInputsSubmit:disabled:hover {
    cursor: not-allowed;
    color: var(--orange);
    background-color: var(--blue);
    border: 2px solid var(--orange);
}

.formInputsMessageOk {
    color: greenyellow;
}

.formInputsMessageBad {
    color: red;
}

.formData {
    display: flex;
    flex-direction: column;
}

.formDataInfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--cream);
}

.formDataInfoElement {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formDataInfoElementText {
    color: var(--lightBlue);
}

.formDataInfoElementIcon {
    font-size: 25px;
    color: var(--orange);
}

.formDataInfoSocial {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formDataInfoSocialIcon {
    padding: 10px;
    font-size: 25px;
    color: var(--lightBlue);
    border: 2px solid var(--orange);
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.formDataInfoSocialIcon:hover {
    color: var(--orange);
    background-color: var(--lightBlue);
}

.formImage {
    height: 100%;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
}

.formImage img {
    width: 100%;
}

@media (max-width: 767px) {
    .container {
        padding: 50px 20px;
    }
    .form {
        flex-direction: column;
    }
}
