.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.content {
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    height: 80%;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--blue);
    border: 10px solid var(--cream);
    overflow-y: auto;
}

.name {
    font-size: 30px;
    color: var(--cream);
}

.description {
    text-align: center;
    font-family: var(--secondary);
    color: var(--cream);
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo hr {
    width: 100%;
    height: 3px;
    background-color: var(--lightBlue);
    border: none;
}

.logo img {
    width: 100%;
    max-height: 100px;
}

.gallery {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.galleryImage {
    height: 100%;
    width: 100%;
    border: 2px solid var(--cream);
}

.galleryImage:last-child {
    grid-column-end: span 2;
}

.galleryImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-y: auto;
}

.close {
    align-self: flex-end;
    padding: 10px;
    color: var(--cream);
    background-color: rgb(248, 72, 72);
    border-radius: 10px;
    transition: 0.3s;
}

.close:hover {
    cursor: pointer;
    background-color: rgb(224, 50, 50);
}

@media (max-width: 991px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .galleryImage:last-child {
        grid-column-end: auto;
    }
}
