.container {
    background-color: var(--cream);
}

.content {
    padding: 50px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingTitle {
    font-size: 60px;
    font-weight: 800;
    color: var(--brown);
}

.headingText {
    max-width: 1000px;
    text-align: center;
    color: var(--blue);
}

.cards {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.cardsCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.cardsCardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.cardsCardTitleText {
    font-size: 30px;
    color: var(--cream);
}

.cardsCardIcon {
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 10px;
    font-size: 25px;
    color: var(--cream);
    border: 5px solid white;
    border-radius: 50%;
}

.cardsCardData {
    padding: 50px 25px 25px;
    list-style: none;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.wave {
    transform: translateY(7px);
}

@media (max-width: 767px) {
    .content {
        padding: 20px 20px 50px 20px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
}
