* {
    margin: 0;
    font-size: 16px;
    font-family: var(--primary);
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

@media (max-width: 768px) {
    * {
        scroll-margin-top: 50px;
    }
}
