:root {
    --cream: #ffecd1;
    --blue: #001524;
    --lightBlue: #15616d;
    --orange: #ff7d00;
    --brown: #78290f;
    --primary: "Kaushan Script", cursive;
    --secondary: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-top: 60px solid var(--cream);
    background-color: var(--brown);
}

::-webkit-scrollbar-track {
    background-color: var(--cream);
}

.slick-arrow {
    color: var(--orange);
}

.slick-arrow:hover {
    color: var(--blue);
}

@media (max-width: 767px) {
    ::-webkit-scrollbar-thumb {
        border-top: 50px solid var(--cream);
    }
}
